<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy order {{ number_order }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
{% for item in items %}
    <h1>{{ item.item }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
{% endfor %}
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe("{{ api_public_key }}");
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy_order/{{ order_number }}', {method: 'GET'})
        .then((response) => response.json())
        .then((session) => stripe.redirectToCheckout({sessionId: session.id}))
      });
    </script>

</body>
</html>